{% extends "people/base.html" %}

{% block title %}New Person{% endblock %}

{% block content %}
<h1>New person</h1>

<form action="{% url 'people:add' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <input type="submit" value="Add">
    </p>
</form>

<p>
    [<a href="{% url 'people:list' %}">Return to 'List of people'</a>]
</p>
{% endblock %}