{% extends "people/base.html" %}

{% block content %}
<ul>
    <li><a href="{% url 'people:list' %}">List of people</a></li>
    <li><a href="{% url 'people:add' %}">Add people</a></li>
</ul>
{% endblock %}