{% extends "people/base.html" %}

{% block title %}List{% endblock %}

{% block content %}
{% if people_list %}
    <ul>
    {% for people in people_list %}
        <li>{{ people.name }} - {{ people.email }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No people are available.</p>
{% endif %}
<p>
    [<a href="{% url 'people:add' %}">Add people</a>]
</p>
{% endblock %}